
{% extends "AppCoder/padre.html" %}


{% block contenidoQueCambia %}
    <!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario</title>
    </head>

    <body style="background-rgb(194, 218, 238);">
        <form action="/AppCoder/disfraces/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar">
        </form>
    </body>

    </html>
{% endblock %}